.main_month-best {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_best-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}

.main_best-sub-title {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
}
.main_best-sub-container {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main_best-article {
    width: 320px;
    height: 500px;
    overflow: hidden;
    margin: 0 20px;
}

.main_best-article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 80% 20%;
}

.main_article-img-container {
    width: 100%;
    height: 280px;
}

.main_article-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.main_article-container {
    display: flex;
    margin: 8px 0;
}

.main_article_color-item {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 5px;
}

.main_article_color-item01 {
    background-color: #683B2B;
}
.main_article_color-item02 {
    background-color: #C594BE;
}
.main_article_color-item03 {
    background-color: #78636A;
}
.main_article_color-item04 {
    background-color: #DBB4AA;
}
.main_article_color-item05 {
    background-color: #969998;
}

.badge {
    background-color: #DBB4AA;
}
.main_article-discount-rate {
    color: red;
}

.main_article-previous-price {
    text-decoration: line-through;
    color: gray;
}
