:root {
    --primaryColor:green;
    --errorColor:orange;

}
html {
    box-sizing: border-box;
    
}

body {  
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F8F9FA;
}

#wrapper {
    width: 420px;
    box-shadow: 0px 4px 14px rgba(0,0,0,0.2);
    margin: 20px auto 0 auto; /* 상단 50px 간격, 좌우 auto로 중앙 정렬, 하단 0 */
}

h2 {
    text-align: center;
    margin-top:20px;
}

.inputGroup {
    /* 8px는 패딩 상하 
    12px는 패딩 좌우 */
    padding: 5px 30px;
}

.inputGroup label{
    display:block;
    padding: 5px 0;
}


.inputGroup input {
    display: block;
    width: 93%;
    padding: 12px;
    border: 2px solid #e2e2e2;
    font-size: 16px;
    border-radius: 10px;
}

.inputGroup input:focus {
    /* 테두리 안보이개 */
    outline: none;
    /* 테두리 색상 변경 */
    border-color:#777;
}

.inputGroup.valid input {
    /* 테두리 색을 초록색으로 */
    border-color: var(--primaryColor);
    visibility: visible;
}

.inputGroup.invalid input {
    border-color: var(--errorColor);
    visibility: visible;
}

.inputGroup .helperText {
    display: none; /* 기본 숨김 */
    padding-top: 8px;
    color: var(--errorColor);
}

.inputGroup .valid .helperText {
    visibility: hidden;
}

.inputGroup.invalid .helperText {
    display: block; /* 유효성 오류일 때만 표시 */
}

#wrapper button {
    display: block;
    width:80%;
    margin: 0 auto;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom:25px;
    font-size: 18px;
    background-color: #0D6EFD;
    border: 2px solid #0D6EFD;
    /* 텍스트 색 */
    color: white;
    cursor: pointer;
}

