footer {
    background-color: #333; /* 어두운 배경 */
    color: #fff; /* 글씨 색 흰색 */
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}

#footer_content p {
    margin-bottom: 10px;
    padding: 10px;
}

#footer_menu {
    list-style: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#footer_menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

#footer_menu li a:hover {
    text-decoration: underline;
}

