
/* 헤더 상단 */
.header {
    height: auto;
    font-family: "Playfair Display", serif;
}
.header_top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
}
.header_nav-box {
    width: 33%;
}

.header_title {
    width: 33%;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.header .header_list-box { /* 💡 .header 추가 */
    display: flex;
    height: 100%;
    align-items: center;
    list-style: none;
    padding-left: 0; /* 💡 Bootstrap ul 기본 패딩 재설정 */
}
.header .header_menu { /* 💡 .header 추가 */
    display: flex;
    width: 33%;
    align-items: center;
    justify-content: flex-end;
}
.header .header_content { /* 💡 .header 추가 */
    margin: 0 20px;
}


/* 헤더 하단 */
.header_bottom .header_category { 
    display: flex;
    justify-content: center;
    padding: 15px 0;
}
.header li {
    list-style: none;
}
.fa-solid {
    font-size: 18px;
}
.header span {
    font-size: 14px;
}