@import "../common.css";
@import "../reset.css";
@import "../components/header.css";
@import "../components/footer.css";
@import "../slider.css";
@import "../month-best.css";
@import "../intro.css";
@import "../wish.css";
@import "../cart.css";


/* 폰트 적용 */
body {
    font-family: "Playfair Display", serif;
}

